{% extends 'notes/main.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="row">
    <div class="col-md-6">
        <div class="card card-body mt-3">
            <form action="" method='POST'>
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md mb-0">
                      {{ form.topic|as_crispy_field}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md mb-0">
                      {{ form.title|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md mb-0">
                      {{ form.notes|as_crispy_field }}
                    </div>
                </div>
                <input class="btn btn-info mt-3" type="submit" name="submit">
            </form>
        </div>
    </div>
</div>


{% endblock %}